<div class="container">
    <h1>Image upload complete!</h1>
    <div class="flex-col align-center">
        <p><strong>File name:</strong> {{fileName}}</p>
        <img src="./images/{{fileName}}" alt="image uploaded">
        <p><a href="/">Return to initial Page</a></p>
    </div>
</div>